*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif
}

body{
  background-image: url(background.jpg);
  background-size: cover;
}

.container{
  width: 63%;
  border-radius: 20px;
  padding: 100px;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* content -------------------------------------------- */
header{
  text-align: center;
}

img{
  width: 27%;
}

h1{
  margin: 4px;
  color: rgb(0, 220, 0);
}

nav{
  height: 40px;
  border-radius: 1px;
}

button {
  height: 22px;
  margin: 9px 2px;
  font-weight: bold;
}

.green{
  background-color: rgb(0, 220, 0);
}

/* scooters ------------------------------*/
section{
  margin: 10px 0px;
  color: white;
}

h2{
  display: inline-block;
  margin: 20px 0px 2px;
}

div{
  margin-top: 3px;
}

.charge{
  height: 25px;
  border-radius: 4px;
  margin-top: 3px;
}

.street::before{
  content: '\21A6 ';
}

#charge-gino22{
  width: 35%;
  background-color: rgb(255, 178, 102);
}

#charge-mike24{
  width: 60%;
}

#charge-fede154{
  width: 15%;
  background-color: rgb(255, 78, 78);
}
